ul{
    list-style: none;
    padding: 0;
}


.totalAmount{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;

}

.buttons button{
    padding: 0.5rem 2rem;
    border-radius: 10px;
    border: 1px solid gold;
    background-color: gold;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.1rem;
    
}

.buttons button:hover, button:active{
    outline: none;
    color: black;
}


.buttons .closeButton{
    background-color: white;
    border: 2px solid gold;
}

.buttons .closeButton:hover, .closeButton:active{
    transform: scale(1.1);
}

.buttons .orderButton{
    margin-left: 1rem;
}

.buttons .orderButton:hover, .orderButton:active{
transform: scale(1.1);

}

.totalValue{
    font-size: 1.6rem;
}

.cartSuccess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 2rem 0;
    margin-bottom: 0;
    color: rgb(8,110, 135);
    border-radius: 15px;
    border: 1px solid rgb(8, 110, 135);
    font-weight: 700;
}

.cartSuccess p:nth-child(1){
    font-size: 1.5rem;
}

.cartSuccess p:nth-child(2){
    font-weight: 500;
    margin-top: 0;
}

a, a:hover, a:active{
    text-decoration: none;
    color: black;
}

#linkToInfo{
    scroll-behavior: smooth;
}

