.products{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 2.5rem;
    padding-top: 0;
    animation-duration: 2s;
    animation-name: cardIn;
}

@keyframes cardIn {
from{
margin-top: 10rem;
}
to{
margin-top: 0;
}
}