.loadingSpinner{

    width: 2rem;
    height: 2rem;
    margin: 1rem auto;
    border-radius: 50px;
    border: 10px solid rgb(8 110 135);
    border-color: transparent rgb(8 110 135) transparent rgb(8 110 135);
    animation: spinner 300ms infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to{
        transform: rotate(180deg);
    }
    
}